*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #080C20;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 88%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: #fff;
}

body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 800;
}

.intro h1 {
  width: 75%;
  margin: 0 auto 23px;
}

h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 11px;
}

p {
  color: #777F98;
  font-weight: 200;
  font-size: 15px;
  line-height: 25px;
}

.emphasis {
  color: #3EE9E5;
}

header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  width: 120px;
  margin-top: 40px;
  align-self: center;
}

.hero-mobile {
  max-width: 108.946%;
  margin-top: 66px;
  margin-bottom: 49px;
  align-self: flex-start;
}

.scroll-img {
  width: 26px;
  margin-top: 32px;
  margin-bottom: 144px;
}

.img-wrapper {
  height: 124px;
  width: 120px;
  background-color: #093F68;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 32px;
}

.divider-img {
  width: 66px;
  background-color: #093F68;
}

.img-wrapper:not(.first-divider) {
  margin-top: 56px;
}

.pricing-plans {
  margin-top: 144px;
}
