// **************************************************
// VARIABLES
// **************************************************

// COLORS
$background-color: #080C20;
$white-text: #fff;
$blue-text: #3EE9E5;
// WEIGHTS
$bold: 800;
$medium: 500;


// **************************************************
// GLOBAL
// **************************************************



// **************************************************
// IMAGES
// **************************************************

