// **************************************************
// VARIABLES
// **************************************************

// COLOURS
$off-black: #080c20;
$white: #fff;
$mint-blue: #3ee9e5;
$denim: #093f68;
$grey: #777f98;
$error: #ff2965;
// FONT WEIGHTS
$xlight: 200;
$medium: 500;
$xbold: 800;

// **************************************************
// GLOBAL
// **************************************************

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $off-black;
  font-family: 'Manrope', sans-serif;
}

main {
  max-width: 88%;
  margin: 0 auto;
}

//section {
//  margin-bottom: 144px;
//}

// **************************************************
// TYPE
// **************************************************

p {
  font-weight: $medium;
  font-size: 15px;
  line-height: 25px;
  color: $grey;
}

h1,
h2,
h3 {
  font-weight: $xbold;
  color: $white;
}

h1 {
  font-size: 32px;
  line-height: 44px;

  .highlight {
    color: $mint-blue;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

// **************************************************
// HEADER
// **************************************************

header {
  overflow: hidden;
  margin-bottom: 144px;
}

.logo {
  display: block;
  width: 119.6px;
  margin: 40px auto 66.49px;
}

.hero-left,
.hero-right {
  display: none;
}

.hero-mobile {
  max-width: 108.946%;
  margin-bottom: 48.67px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 88%;

  p {
    font-weight: $xlight;
    margin-bottom: 32px;
  }

  h1 {
    max-width: 76%;
    margin-bottom: 23px;
  }
}

// **************************************************
// INCENTIVES
// **************************************************

.incentives {
  width: 100%;
  height: 1134px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 144px;
}

.incentive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incentive-img-wrapper {
  height: 124px;
  min-width: 120px;
  background-color: $denim;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 37.77px;
}

.passions-img {
  width: 66px;
}

.freedom-img {
  width: 56px;
}

.lifestyle-img {
  width: 60px;
}

.anywhere-img {
  width: 77.88px;
}

// **************************************************
// PRICING
// **************************************************

.pricing {
  text-align: center;
  margin-bottom: 144px;

  ul {
    list-style-position: inside;
    list-style-type: none;
    font-weight: $xlight;

    li:not(:last-child) {
      padding-bottom: 12px;
    }

    li:last-child {
      padding-bottom: 35.4px;
    }
  }
}

.plan-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .plan {
    width: 100%;
  }
}

h2.price-plan {
  font-size: 40px;
}

.free-plan,
.paid-plan {
  padding: 0 30px;
  text-align: left;
  border-radius: 10px;

  p,
  li {
    font-weight: $xlight;
  }

  h2 {
    padding: 26px 0 19px;
  }

  h3 {
    padding-bottom: 19px;
  }
}

h2.price-plan.paid {
  display: flex;
}

.free-plan {
  background-color: $denim;
  margin: 79px 0 65px;

  p,
  li {
    color: $white;
  }

  .free-img {
    position: relative;
    top: -23px;
  }

  li::before {
    content: url('../assets/icon-check-light.svg');
    padding-right: 15px;
  }
}

.paid-plan {
  background-color: $mint-blue;

  h2,
  h3,
  p,
  li {
    color: $off-black;
  }

  .paid-img {
    position: relative;
    top: -33px;
    margin-bottom: -10px;
  }

  li::before {
    content: url('../assets/icon-check-dark.svg');
    padding-right: 15px;
  }

  .per-month {
    font-size: 15px;
    font-weight: $xlight;
    align-self: center;
    padding-left: 10px;
  }
}


// **************************************************
// NOTIFY
// **************************************************

#notification-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('../assets/bg-footer-squiggle.svg');
  background-size: contain;
  background-repeat: no-repeat;

  .email-label {
    font-size: 24px;
    font-weight: $xbold;
    color: $white;
    width: 65%;
    margin-bottom: 31px;
  }

  #email-notification {
    width: 100%;
    height: 48px;
    border-radius: 30px;
    border: none;
    padding-left: 18px;
    background-color: $denim;
    color: #979797;
    font-weight: $xbold;
    font-size: 15px;
    margin-bottom: 24px;
  }

  #email-notification:focus {
    color: $white;
    box-shadow: inset 0 0 0 2px $mint-blue;
    outline: none;
  }

  .notify-btn {
    width: 100%;
    border: 0;
    height: 48px;
    border-radius: 50px;
    font-weight: $xbold;
    font-size: 15px;
    color: $denim;
    background-color: $mint-blue;
    margin-bottom: 164px;
  }

  .notify-btn:hover {
    background-color: $off-black;
    box-shadow: inset 0 0 0 2px $mint-blue;
    color: $white;
  }
}

.error-msg {
  height: 15px;
  margin-top: 10px;
  align-self: center;
  margin-bottom: -25px;
  padding: 0;
  font-size: 15px;
  color: #ff2965;
  box-sizing: border-box;
}

.error-input {
  box-shadow: 0 0 0 2px #ff2965;
}

// **************************************************
// MEDIA QUERIES: 768
// **************************************************

@media screen and (min-width: 768px) {
  main {
    max-width: 100%;
  }
  .header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    margin: 48px 0 77px 39px;
  }
  .hero-mobile {
    display: none;
  }
  .hero-left,
  .hero-right {
    display: block;
  }
  .hero-left {
    width: 313px;
    margin-left: -169px;
  }
  .hero-right {
    width: 317px;
    margin-right: -171px;
  }
  .header-wrapper {
    background: url("../assets/bg-hero-squiggle.svg") no-repeat center center;
    background-size: 50% 100%;
  }
  .header-text {
    width: 55%;
  }

  .incentives {
    width: 75%;
    justify-content: flex-start;
    margin: 110px auto 141px;
    height: auto;
  }
  .incentive {
    flex-direction: row;
    margin-bottom: 40px;

    &:nth-child(odd) {
      margin-left: 58px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .incentive-text {
    flex-direction: column;
    text-align: left;
    margin-left: 55px;
    width: 80%;
  }
  .incentive-img-wrapper {
    margin-bottom: 0;
  }

  .pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 135px;

    .pricing-intro {
      width: 70%;
    }

    .plan {
      max-width: 445px;
      max-height: 425pxπ;
      ul li:last-child {
        padding-bottom: 60px;
      }
    }
  }


  .notify-inputs {
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 476px;
    padding-bottom: 16px ;
  }

  #notification-form {
    background: url('../assets/bg-footer-squiggle.svg') no-repeat center center;
    width: 100%;
    height: 140px;
    background-size: 100% 140px, contain;
    margin-bottom: 105px;

    label.email-label {
      font-size: 24px;
      margin-bottom: 0;
    }

    #email-notification {
      margin: 0 16px 0 0;
      width: 320px;
    }

    .notify-btn {
      width: 140px;
      margin-bottom: 0;
    }
  }
}

// **************************************************
// MEDIA QUERIES: 1440
// **************************************************

@media screen and (min-width: 1440px) {
  .logo {
    margin: 81px 0 114px 165px;
  }
  .hero-left {
    width: 408px;
    margin-left: -53px;
  }
  .hero-right {
    width: 396px;
    margin-right: -60px;
  }
  .header-text {
    p {
      width: 65%;
    }

    h1 {
      margin-top: -40px;
      font-size: 48px;
    }
  }
  .header-wrapper {
    background: url("../assets/bg-hero-squiggle.svg") no-repeat top center;
    background-size: 40% 75%, contain;
  }

  .incentives {
    flex-direction: row;
    width: 77%;
    justify-content: space-between;
    margin-top: 202px;
    margin-bottom: 202px;
  }
  .incentive-img-wrapper {
    height: 164px;
    min-width: 160px;
    margin-bottom: 48px;
  }
  .incentive {
    width: 255px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-top: 42px;
    }
  }
  .passions-img {
    width: 88px;
  }

  .freedom-img {
    width: 74px;
  }

  .lifestyle-img {
    width: 80px;
  }

  .anywhere-img {
    width: 104px;
  }
  .incentive-text {
    margin: 0;

    h3 {
      margin-bottom: 24px;
    }

    p {
      width: 110%;
    }
  }
  .pricing-intro h2 {
    font-size: 32px;
  }
  .pricing-intro p {
    width: 55%;
    margin: 0 auto 72px;
  }
  .plan-info {
    flex-direction: row;
    width: 920px;
    height: 482px;
    justify-content: space-between;
    align-items: center;

    .plan {
      width: 445px;

      p {
        font-weight: $medium;
      }
    }
  }
  .free-plan {
    margin: 0;
    max-height: 425px;
  }
  .paid-plan {
    padding-top: 3px;
    padding-bottom: 3px;
    .paid-img {
      position: relative;
      top: -36px;
      margin-bottom: -13px;
    }
  }

  #notification-form {
    label.email-label {
      font-size: 32px;
      //margin-bottom: 42px;
    }

    .notify-inputs {
      margin-top: 42px;
    }
  }
}
